* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
}
  
/* navbar styling */

nav {
    background-color: #333;
    padding: 10px 0;
}
  
nav ul {
    list-style-type: none;
    text-align: center;
}
  
nav ul li {
    display: inline-block;
    margin-right: 20px;
}
  
nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
  

/* navbar hover animation */

nav ul li a:hover {
    background-color: #555;
}



/* header styling*/

header {
    text-align: center;
    padding: 50px 0;
}
  
header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #333;
}
  
header p {
    font-size: 1.2em;
    color: #666;
}
  


  
/* different screens adaptiveness */

@media screen and (max-width: 768px) {
    nav ul li {
      margin-right: 10px;
    }
    
    header h1 {
      font-size: 2em;
    }

    .course-text h1 {
        font-size: 2em;
    }
  
    main {
      padding: 10px;
    }
  
    section h2 {
      font-size: 1.8em;
    }
  
    section p {
      font-size: 1em;
    }
}
  

/* course boxes styling */
.courses {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    flex-wrap: wrap; 
}

.course {
    margin: 10px;
    min-width: 150px; 
    min-height: 150px; 
    flex: 1 0 calc(25% - 20px);
    max-width: calc(25% - 20px); 
    max-height: calc(25% - 20px); 
    background-color: #333;
}

@media screen and (max-width: 600px) {
    .course {
        max-width: calc(50% - 20px); 
        max-height: calc(50% - 20px); 
    }
}


.course{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 30px;
    transition: .2s;
    cursor: pointer;
}



.course img{
    margin-left: 20px;

}

.course:hover{
    transform: scale(1.05);
    transition: .2s;
}

.course-text{
    text-align: center;
}

.course-text h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #333;
}

/* instructors cards styling */

.instructors-text{
    margin-top: 100px;
    text-align: center;
}

.instructors-text h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #333;
}


.instructors{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.card {
    width: 300px;
    height: 400px;
    border: 1px solid #ccc;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease;
}



.card img {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
    display: block;
  }

.card .content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    transform: translateY(100%);
    transition: transform 0.3s ease;
}

  .card:hover .content {
    transform: translateY(0);
}

.card a{
    text-decoration: none;
    color: white;
    position: relative;
}

/* text on the card animation */

.card a::before{
    content: "";
    position: absolute;
    background-color: white;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transition: .1s ease-in-out;
}

.card a:hover::before{
    transform: scaleX(1);
}


/* testimonials part */


.testimonials-text{
    margin-top: 100px;
    text-align: center;
}

.testimonials-text h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #333;
}



.testimonials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
}


.testimonial {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.testimonial .testimonial-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}

.testimonial .testimonial-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonial .testimonial-content {
    flex: 1;
}

.testimonial .testimonial-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.testimonial .testimonial-position {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
    transition: .1s;
}

.testimonial .testimonial-text {
    font-style: italic;
    line-height: 1.5;
}

.testimonial-text{
    font-size: 20px;
}


/* footer */

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
  }
  